.App {
  text-align: center;
}

body {
  margin-top: -20px;
 }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  margin: 10px;
}

div {
  margin-top: 20px;
}

select {
  padding: 10px;
  margin: 10px;
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.weatherItems {
  margin: 1em;
}

.header_h1 {
  margin-bottom: -2rem;
}

.header_h3 {
  margin-bottom: -1rem;
}

.api_promo {
  max-width: 700px;
  min-width: 500px;
  margin-bottom: 0rem;
}

a {
  color: #87CEEB;
}

a:hover {
  color: #6495ED;
}